.not-found-alert{
  position: absolute;
  top: calc(50% - 2.5rem);
  left: calc(50% - 11rem);
  text-align: center;
  .alert{
    width: 22rem;
    height: 5rem;
    line-height: 5rem;
    padding: 0;
  }
}
