@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.singe-product {
  color: black;
  width: 100%;
}
.info__product{
  background: #e67780;
  padding: 2rem;
  height: fit-content;
}

.header__product{
  font-family: "Dhurjati", sans-serif;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.cost__product{
  font-family: "Dhurjati", sans-serif;
  font-size: 1.5rem;
  line-height: 1.4rem;
  position: relative;
  left: -0.2rem;
  margin-bottom: 2rem;
}
.select__product{
  color: black;
  font-weight: 800;
  font-size: 1rem;
  width: 9.5rem;
  background: transparent;
  border: black 2px solid;
  cursor: pointer;
}

.select__product:focus{
  color: black;
  font-weight: 800;
  border: black 2px solid;
}

.text__product{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.link__product{
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  color: black;
}
.btn-product{
  width: 9.5rem;
}
.images__product {
  padding-top: 2rem;
}
.singe-product__slider-image{
  height: 33rem;
  object-fit: contain;
}
.nav__slider{
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: calc(50% - 1.5rem);
  cursor: pointer;
  z-index: 1;
  padding: 0.5rem;
  background: black;
  border-radius: 50%;
}
.nav__slider:hover{
  background: #e67780;
}

.slider__nav-left{
  right: 0;
}
.slider__nav-right{
  left: 0;
}
.controls__product{
  justify-content: space-between;
}


@include media-breakpoint-down(md) {
  .product__container{
    padding: 0 2rem;
  }

}
@include media-breakpoint-down(sm) {
  .singe-product{
    width: calc(100% - 1rem);
    max-width: 30rem;
  }
}