@charset "UTF-8";
$imagedir:'../img/'; // base image path


@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}


@mixin background($filename,$repeat: no-repeat) {
  background: transparent url(#{$imagedir}#{$filename}) $repeat;
  background-position: center center;
  background-size: cover;
}