@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.main-nav{
  padding-top: 1rem;

}
.main-nav__logo{
  img{
    width: 30rem;
    left: calc(50% - 15rem);
    position:relative;
    max-width: unset;
  }
}
.main-nav__cart-icon{
  height: 2.6rem;
  padding-right: 6rem;
  cursor: pointer;
}



@include media-breakpoint-down(sm) {
  .main-nav {
    margin: 0;
    > div {
      padding: 0;
    }

  }
  .main-nav__logo {
    img {
      width: 14rem;
      left: calc(50% - 7rem);
    }
  }
  .main-nav__cart-icon {
    height: 2.5rem;
    padding-right: 1.5rem;
  }
}
