@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
 

.product-card{
  border: unset;
  padding: 2rem;
}
.card-title{
  img{
    object-fit: scale-down;
  }
}

@include media-breakpoint-down(sm) {
  .product-card{
    padding: 0.5rem;
  }
}

